body {
  display: flex;
  justify-content: center;
}
.edges{
  width: 270px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-top: 5px solid rgba(21,48,76,255);
  border-left: 2px solid rgba(21,48,76,255);
  border-bottom: 10px solid rgba(2,104,171,255);
}
.centerInput{
  display: flex;
  justify-content: center;
}
.half{
  border-top: 2px solid black;
  width: 320px;
  margin-left: -20px;
}
.input {
  display: flex;
  justify-content: center;
}
input{
  background-color: rgba(200,210,201,255);
  width: 250px;
  height: 45px;
  text-align: right;
  font-family: 'VT323', monospace;
  font-size: 42px;
  box-shadow: inset -38px 10px 25px -3px rgba(0,0,0,0.38);
  border-radius: 10px;
  border-right: 2px solid rgba(41,51,42,255);
  border-bottom: 3px solid rgba(41,51,42,255);
}
.input-background{
  background-color: rgba(72,78,61,255);
  width: 270px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-top: 2px solid black;
  border-left: 3px solid black;
}
.TI-108, .texas{
  color: rgb(211,215,222)
}
.solar-boxes{
  display: grid;
  grid-template-columns: repeat(4, 30px);
  margin-left: 15px;
  position: absolute;
  margin-top: 40px;
}
.box{
  outline: 2px solid black;
  border-top: 3px solid black;
  background-color: rgba(26,32,28,255);
  height: 30px;
  margin-top: -5px;
}

.calc-body {
  width: 280px;
  height: 480px;
  background-color: rgba(2, 96, 158, 255);
  padding: 20px;
  border-radius: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: -12px 14px 8px -2px rgba(70, 116, 189, 0.5);
}
.inputDiv {
  display: flex;
  justify-content: center;
}
.info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 40px);
}
.texas{
  width: 200px;
  height: 50px;
  margin: 0;
  padding-top: 10px;
  margin-left: 15px
}
.TI-108{
  position: absolute;
  font-family: 'Calistoga', cursive;
  font-size: 33px;
  margin: 0 auto;
  margin-left: 190px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(6, 40px);
  grid-gap: 10px;
  outline: 2px solid rgba(1,39,74,255);
  padding: 5px;
  border-radius: 2%;
}

.grid-item {
  background-color: rgb(200, 34, 57);
  padding: 10px;
  color: rgb(211,215,222);
  border-radius: 10%;
  top: 1px;
  position: relative;

}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.primary {
  background-color: rgba(244,246,241,255);
  color: rgba(56,83,122,255);
  font-weight: 900;
}
#equals{
  height: 90px;
}
.char{
  position: absolute;
  top: 4px;
  left: 6px;
  font-family: 'Roboto', sans-serif;
}
