body{
    display: flex;
    justify-content: center;
}
.input{
    display: flex;
    justify-content: center;
}
.calc-body{
    width: 300px;
    background-color: rgb(91, 108, 239);
}
.inputDiv{
    display: flex;
    justify-content: center;
}
.info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; /* optional */
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    grid-gap: 10px;
  }
  .grid-item {
    background-color: #ddd;
    padding: 10px;
  }
  .buttons{
    display: flex;
    justify-content: center;
  }